/*.badge {

  border-radius: 50%;
}


.badge-warning {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 10px;
    background: #ff0000;
    color: #fff;
    padding: 3px 5px;
    vertical-align: top;
    margin-left: -7px; 
    z-index:1;
}*/